<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }}! (or {{ user.email }})</p>
      
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>

      {% endif %} {% block content %}
      <!-- Content will go here -->
      {% endblock %}
    </main>
  </body>
</html>
